<script type="text/javascript" src="javascripts/jquery.flexisel.js"></script>
<link rel="stylesheet" href="stylesheets/index.css"/>
<div class="banner">
	<!-- start slider -->
	<div id="fwslider">
		<div class="slider_container">
			 {{#each slider}}
			<div class="slide">
				<!-- Slide image -->
				<img src="{{cover}}" class="img-responsive" alt="" />
				<!-- /Slide image -->
				<!-- Texts container -->
				<div class="slide_content">
					{{!-- <div class="slide_content_wrap">
							<h1 class="title">Buy<br>Everything</h1>
							<div class="button"><a href="#">See Details</a></div> 
						</div> --}}
				</div>
				<!-- /Texts container -->
			</div>
			{{/each}}
		</div>
		<div class="timers"></div>
		<div class="slidePrev"><span></span></div>
		<div class="slideNext"><span></span></div>
	</div>
	<!--/slider -->
</div>
<div class="main">
	<div class="content-top">
		<h2 id="customText">Top sellers</h2>
		<p id="customText">Our best products</p>
		<ul id="flexiselDemo3">
			{{#each flexisel}}
			<li><img src="{{cover}}" /></li>
			{{/each}}
		</ul>
		<h3 id="customText">best bang for you buck</h3>
	</div>
</div>
<div class="content-bottom">
	<div class="container">
		<div class="row content_bottom-text">
			<div class="col-md-7">
				<h3>The best<br>Gaming experience</h3>
				<p class="m_1">This is placeholder text
				</p>
				<p class="m_2">This is placeholder text
				</p>
			</div>
		</div>
	</div>
</div>
<div class="features">
	<div class="container">
		<h3 class="m_3">Genres</h3>
		<div class="row">
			{{#each genres}}
			<div class="col-md-3 top_box">
				<div class="view view-ninth"><a href="/single">
						<img src="{{cover}}" class="img-responsive" alt="" />
						<div class="mask mask-1"> </div>
						<div class="mask mask-2"> </div>
						<div class="content">
							<h2>{{genre}}</h2>
							<p>{{des}}</p>
						</div>
					</a> 
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>