<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="main">
  {{#if products}}
  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Available</th>
                <th scope="col" class="text-center">Quantity</th>
                <th scope="col" class="text-right">Price</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
              <tr>
                <td class="pb-5">{{item.title}}</td>
                <td>In stock</td>
                <td class="text-center">{{qty}}</td>
                <td class="text-right">{{price}}$</td>
                <td class="text-right"><a class="btn btn-sm btn-danger" href="cart/remove-from-cart/{{item.id}}"><i class="fa fa-trash"></i> </a></td>
              </tr>
              {{/each}}
              {{!-- <tr>
                <td class="pb-5">Product Name Toto</td>
                <td>In stock</td>
                <td><input class="form-control" type="text" value="1" /></td>
                <td class="text-right">33,90 €</td>
                <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
              </tr>
              <tr>
                <td class="pb-5">Product Name Titi</td>
                <td>In stock</td>
                <td><input class="form-control" type="text" value="1" /></td>
                <td class="text-right">70,00 €</td>
                <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
              </tr> --}}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total</strong></td>
                <td class="text-right"><strong>{{totalPrice}} $</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col mb-2">
        <div class="row">
          <div class="col-sm-12  col-md-6">
            <a class="btn btn-block btn-light" href="shop">Continue shopping</a>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <a class="btn btn-lg btn-block btn-success text-uppercase" href="cart/checkout">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
   <div class="shop_top">
		<div class="container">
			<h4 class="title">Shopping cart is empty</h4>
			<p class="cart">You have no items in your shopping cart.<br>Click<a href="shop"> here</a> to continue shopping</p>
	     </div>
	   </div>
  {{/if}}
</div>